.active-class{
    font-weight: bolder;
    border: 1px solid red;
    padding: 5px;
    border-radius: 5px;
    color: red;
}
.non-active-class{
    font-weight: normal;
    color: white;
}
.non-active-class-sm{
    font-weight: normal;
    color: black;
}